@import '../src/assets/css/style.css';

body {
    font-family: "Josefin Sans", sans-serif !important;
}

.fontFamily {
    font-family: "Josefin Sans", sans-serif !important;

}

.green {
    color: #4ABD43;
    ;
}

.main {
    padding: 0 100px;
}