body {
    font-family: "Josefin Sans", sans-serif !important;
}

.fontFamily {
    font-family: "Josefin Sans", sans-serif !important;

}

.green {
    color: #4ABD43;
}

.main {
    padding: 0 100px;
}

.cadImage {
    opacity: 0.75;
    transition: all 0.5s linear;
    overflow: hidden;
}

.cadImage:hover {
    opacity: 1;
    transform: scale(1.1);
}

.cardBtn {
    z-index: 99;
    position: relative;
}

.bg-img {
    background: url('../images/bg.png');
}

.collabrate {
    background: url('../images/collabrate_bg.jpg');
    height: 75vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 99;
}

.collabrate::after {
    content: '';
    position: absolute;
    background-color: #0F0F0F;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.73;
}