<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | Sirat.earth</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            text-align: center;
            background-color: #f9f9f9;
        }

        .container {
            margin: 50px auto;
            max-width: 600px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
        }

        .logo {
            width: 150px;
            margin-bottom: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="https://carbon-emissions-pnz7.onrender.com/logo/logo.png" alt="Sirat.earth Logo" class="logo">
        <h2>Forgot Password</h2>
        <p>We received a request to reset your password on Sirat.earth. Please click the button below to reset your
            password.</p>
        <a href="<%= resetPswdLink %>" class="btn">Reset Password</a>
        <p>If you did not request a password reset, please ignore this email.</p>
    </div>
</body>

</html>