<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Result | Sirat.earth</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            text-align: center;
            background-color: #f9f9f9;
        }

        .container {
            margin: 50px auto;
            max-width: 600px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
        }

        .logo {
            width: 150px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="https://carbon-emissions-pnz7.onrender.com/logo/logo.png" alt="Sirat.earth Logo" class="logo">
        <h2>Email Verification Result</h2>
        <p>
            <%= message %>
        </p>
        <!-- <a href="/" class="btn">Go to Homepage</a> -->
    </div>
</body>

</html>